/*
* References
* https://coder-coder.com/background-image-opacity/
*/

.Background-projectfeed{
    width: 50%;
    height: 70%;
    display: flex;
    margin: 3% 20% 0 20%;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 20px 50px #000;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    transition: 0.2s;
}

.project:hover {
    transform: scale(1.2);
}

span {
    font-size: 1.5em;
    font-weight: 500;
    color: white;
}
